[submodule "4-grading-tests"]
	path = 4-grading-tests
	url = git@github.com:spbu-coding-2023/4-grading-tests.git
[submodule "4-AlexandrKudrya"]
	path = 4-AlexandrKudrya
	url = git@github.com:spbu-coding-2023/4-AlexandrKudrya.git
[submodule "4-Azamat-Ishbaev"]
	path = 4-Azamat-Ishbaev
	url = git@github.com:spbu-coding-2023/4-Azamat-Ishbaev.git
[submodule "4-DARKpluz"]
	path = 4-DARKpluz
	url = git@github.com:spbu-coding-2023/4-DARKpluz.git
[submodule "4-Demon32123"]
	path = 4-Demon32123
	url = git@github.com:spbu-coding-2023/4-Demon32123.git
[submodule "4-SecretPersona5"]
	path = 4-SecretPersona5
	url = git@github.com:spbu-coding-2023/4-SecretPersona5.git
[submodule "4-bikakuka"]
	path = 4-bikakuka
	url = git@github.com:spbu-coding-2023/4-bikakuka.git
[submodule "4-homka122"]
	path = 4-homka122
	url = git@github.com:spbu-coding-2023/4-homka122.git
[submodule "4-p1onerka"]
	path = 4-p1onerka
	url = git@github.com:spbu-coding-2023/4-p1onerka.git
[submodule "4-qrutyy"]
	path = 4-qrutyy
	url = git@github.com:spbu-coding-2023/4-qrutyy.git
[submodule "4-sofyak0zyreva"]
	path = 4-sofyak0zyreva
	url = git@github.com:spbu-coding-2023/4-sofyak0zyreva.git
[submodule "4-suvorovrain"]
	path = 4-suvorovrain
	url = git@github.com:spbu-coding-2023/4-suvorovrain.git
[submodule "4-Dennis2909"]
	path = 4-Dennis2909
	url = git@github.com:spbu-coding-2023/4-Dennis2909.git
[submodule "4-Friend-zva"]
	path = 4-Friend-zva
	url = git@github.com:spbu-coding-2023/4-Friend-zva.git
[submodule "4-IliaSuponeff"]
	path = 4-IliaSuponeff
	url = git@github.com:spbu-coding-2023/4-IliaSuponeff.git
[submodule "4-OGchukh"]
	path = 4-OGchukh
	url = git@github.com:spbu-coding-2023/4-OGchukh.git
[submodule "4-RodionovMaxim05"]
	path = 4-RodionovMaxim05
	url = git@github.com:spbu-coding-2023/4-RodionovMaxim05.git
[submodule "4-Sibiri4ok"]
	path = 4-Sibiri4ok
	url = git@github.com:spbu-coding-2023/4-Sibiri4ok.git
[submodule "4-TerrMen"]
	path = 4-TerrMen
	url = git@github.com:spbu-coding-2023/4-TerrMen.git
