[submodule "4-grading-tests"]
	path = 4-grading-tests
	url = git@github.com:spbu-coding-2023/4-grading-tests.git
[submodule "4-AlexandrKudrya"]
	path = 4-AlexandrKudrya
	url = git@github.com:spbu-coding-2023/4-AlexandrKudrya.git
[submodule "4-Azamat-Ishbaev"]
	path = 4-Azamat-Ishbaev
	url = git@github.com:spbu-coding-2023/4-Azamat-Ishbaev.git
[submodule "4-DARKpluz"]
	path = 4-DARKpluz
	url = git@github.com:spbu-coding-2023/4-DARKpluz.git
[submodule "4-Demon32123"]
	path = 4-Demon32123
	url = git@github.com:spbu-coding-2023/4-Demon32123.git
[submodule "4-SecretPersona5"]
	path = 4-SecretPersona5
	url = git@github.com:spbu-coding-2023/4-SecretPersona5.git
